[access]
	inheritFrom = All-Projects
[access "refs/heads/*"]
	create = group samsung_mondrian
	push = +force group samsung_mondrian
	label-Code-Review = -2..+2 group samsung_mondrian
	label-Verified = -1..+1 group samsung_mondrian
	submit = group samsung_mondrian
	forgeAuthor = group samsung_mondrian
	forgeCommitter = group samsung_mondrian
	rebase = group samsung_mondrian
[submit]
	action = rebase if necessary
